.SignUpScreen{
    width: 100%;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background: rgba(0,0,0,0.85);
    max-width: 300px;
}

.SignUpScreen > form >h2{
    color: #fff;
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.SignUpScreen > form{
    display: grid;
    max-height: 365px;
}

.SignUpScreen >form >input{
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    height: 50px;
    padding: 16px 20px 0;
    width: 100%;
    max-width: 24rem;
    background:#333;
    border-radius: 5px;
    margin-right: 0.5rem;
    min-width: 12.5rem;
    border:none;
    margin-bottom:19px ;
}

.SignUpScreen >form > button{
    background-color: #e50914;
    width: 100%;
    max-width: 23rem;
    font-size: 1rem;
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    margin-top: 22px;
    line-height: 50px;
    border: none;
    border-radius: 5px;
}

.SignUpScreen >form >p{
    color: #8c8c8c;
    text-align: left;
    font-size: 13px;
    display: block;
    margin-block-end: 1em;
    margin-top: 30px;
}

.SignUpScreen >form >h4{
    margin-top: 11px;
    text-align: left;
}

.SignUp_now{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
}

.SignUp_link:hover{
    cursor: pointer;
    text-decoration: underline;
}